<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Yoyocollect</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="libraryController">

<div ng-view>
	<%= yield %>
</div>

</body>
</html>
